body {
    background-color: #104735;
    color: #D8DCDA;
    font-size: 12pt;
}

a {
    color: #E2E11B;
}

img {
    padding: 0;
    margin: 0;
}

td {
    margin: 0;
    padding: 0;
}

table {
    border: none;
}
td {
    width: auto;
}

img.portrait {
    height: 8em;
    width: auto;
}